.shellContainer {
  background-color: #EDEEF0;
}

.legendContainer {
  display: flex;
  margin-top: 12px;
  border-top: #000 1px solid;
  padding-top: 12px;
}

.legendItemContainer {
  display: inline-block;
  border: #000 1px solid;
  width: 12px;
  height: 12px;
  margin-right: 6px;
}